name: CI

on: [ "push", "pull_request" ]

permissions: { }

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_NOLOGO: true

  # Make all dotnet builds default to Release configuration
  Configuration: Release

jobs:
  build:
    runs-on: ubuntu-24.04

    env:
      NUGET_ARTIFACTS: artifacts/package/release/*.nupkg

    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
          filter: tree:0

      - name: Setup .NET
        uses: js6pak/setup-dotnet@d3880cac5f837959c67b5235dcecbbf2d8e7c626 # https://github.com/actions/setup-dotnet/pull/538
        with:
          global-json-file: global.json

      - name: Restore
        run: dotnet restore --locked-mode

      - name: Build
        run: dotnet build --no-restore

      - uses: actions/upload-artifact@v5
        with:
          name: nuget
          path: ${{ env.NUGET_ARTIFACTS }}

      - name: Format
        run: dotnet format --no-restore --verbosity diagnostic --verify-no-changes

      - name: Publish nightly
        if: vars.NIGHTLY_NUGET_SOURCE != '' && (github.ref == 'refs/heads/master' || github.ref_type == 'tag')
        env:
          NUGET_SOURCE: ${{ vars.NIGHTLY_NUGET_SOURCE }}
          NUGET_API_KEY: ${{ secrets.NIGHTLY_NUGET_API_KEY }}
        run: |
          dotnet nuget push --skip-duplicate $NUGET_ARTIFACTS \
            --source "$NUGET_SOURCE" --api-key "$NUGET_API_KEY"

      - name: Publish
        if: github.ref_type == 'tag'
        env:
          NUGET_SOURCE: ${{ vars.NUGET_SOURCE || 'nuget.org' }}
          NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
        run: |
          dotnet nuget push --skip-duplicate $NUGET_ARTIFACTS \
            --source "$NUGET_SOURCE" --api-key "$NUGET_API_KEY"
